*{
  margin: 0 auto;
  box-sizing: border-box;
}
.Roadmap{
  height: 100%;
  width: 100%;
  padding: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
text-align: center;
background-color: rgb(235, 235, 143);
}
.Roadmap h1{
  font-size: 40px;
  color: rgb(24, 24, 19);
}
.Roadmap p{
  font-size: 24px;
  color: rgb(56, 55, 44);
}

.roadmap-container{
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.roadmap-container h1{
  font-size: 40px;
  color: rgb(24, 24, 19);
}
.roadmap-container h2{
  font-size: 24px;
  line-height: 3;
  color: rgb(56, 55, 44);
}
.roadmap-bg-green{
  background-color: rgb(70, 179, 70);
  height: fit-content;
  height: 100%;
  padding: 40px;
  margin:0 5px 0 5px;
  width: 300px;
}
.roadmap-bg-yellow{
background-color: rgb(212, 212, 83);
height: 100%;
padding: 40px;
margin:0 5px 0 5px;
width: 300px;
}
.roadmap-bg-pink{
background-color: palevioletred;
height: fit-content;
height: 100%;
padding: 40px;
margin:0 5px 0 5px;
width: 300px;
}